.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 310px;
    height: 358px;
    border: 1px red solid;
    border-radius: 12px; /* Agregar border-radius */
}


.top-card {
    border: 1px blue solid;
}

.user-container {
    justify-content: center;
    align-items: center;
    border: 1px red solid;
}

.disclaimer-text {
    text-decoration: #bababa;
}
