.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 310px;
  height: 358px;
}

.vettx-logo {
  max-width: 152px;
  padding-top: 8rem;
  align-self: center;
}

#main {
  background-color: #FFFFFF;
  border: 2px #e3e3e3 solid;
  border-radius: 12px;
  margin: 0;
  padding: 0;
}

.top-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 310px;
  border-radius: 12px;
}

.user-container {
  justify-content: center;
  align-items: center;
}

.user-container > h2 {
  color: #727272;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  max-width: 310px;
  max-height: 385.96px;
  justify-content: center;
  background-color: #F5F8FA;
  font-family: "DM Sans", sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #009bf5;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* The switch - the box around the slider */
.switch {
  font-size: 12px;
  position: relative;
  display: inline-block;
  width: 3.6em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #bababa;
  border: 1px solid #adb5bd;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.27em;
  bottom: 0.25em;
  background-color: #ffffff;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2bbf7a;
  border: 1px solid #2bbf7a;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2bbf7a;
}

input:checked + .slider:before {
  transform: translateX(1.4em);
  background-color: #fff;
}
.checkbox-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.checkbox-container > p {
  padding-left: 13px;
  color: #bababa;
  font-size: 15px;
}
.buttons-container {
  flex-direction: column;
  align-items: center;
  gap: 12px;
  max-width: 270px;
}

.buttons-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 32px;
}

.primary-button {
  background-color: #009bf5;
  padding-left: 8px;
  padding-right: 8px;
  color: white;
  width: 100%;
  height: 36px;
  font-size: 14px;
  margin-bottom: 13px;
}

.error-button {
  background-color: #F82032;
  padding-left: 8px;
  padding-right: 8px;
  color: white;
  width: 100%;
  height: 36px;
  font-size: 14px;
  margin-bottom: 13px;
}

.d-none {
  display: none;
}

.error-message {
  color: #F82032 !important;
}

.primary-button:hover {
  background-color: #0076f5;
}

.secundary-button {
  background-color: #ffffff;
  padding-left: 8px;
  padding-right: 8px;
  color: #009bf5;
  border: 2px #009bf5 solid;
  width: 90%;
  height: 36px;
  font-size: 14px;
}

.secundary-button:hover {
  border-color: #0076f5;
}

.footer-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 310px;
  text-align: center;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.disclaimer-text {
  text-align: center;
  color: #bababa;
  max-width: 278px;
}

.Copyright {
  color: #919191;
}
